* {
    margin: 0;
    padding: 0;
    box-sizing: conte;
    font-family: sans-serif;
}
footer {
    background: #cc444b;
    color: white;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
    padding: 16px;
}
.footer-main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.footer-bottom{
    display: block;
    text-align: center;
    bottom: 0;
    position: absolute;
}
.footerdiv {   
    margin: 0 auto;
    padding: 0;
    width: 300px;
    height: 145px;
    position: relative;
}
.text{
    position: absolute;
    top: 30px;
    max-width: 280px;
}
.heightadjust2{
height: 90px;
}
.heightadjust3{
height: 110px;
}
.title {
    color: black;
}
.footerdiv p {
    text-align: justify;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;

}
.hiddenlink{
    color: inherit;
    text-decoration: none;
}

.hiddenlink:hover{
    color: black;
}

.hiddenlink:hover > .fab{
    color: black;
}
